    * body {
        box-sizing: border-box;
    }
    
    .header h1 {
        display: flex;
        justify-content: center;
        flex-shrink: grow;
        flex-grow: 1;
    }
    
    .article {
        margin: 8px;
        padding: 16px;
        background-color: bisque;
        flex-basis: 300px;
    }
    
    main {
        display: flex;
    }